.icon {
    height: 20px;
    width: 30px;
}

.post-img {
    width: 350px;
    height: 300px;
}

.post-container {
    /* Center the element both horizontally and vertically */
    background-color: lightgray;
    padding: 20px; 
    width: 390px;
    left: 50%;
    
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
}

@media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 400px); /* 2 columns for screens <= 768px */
    }
  }

@media (max-width: 480px) {
    .card-container {
      grid-template-columns: 400px; /* 1 column for screens <= 480px */
    }
  }


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}