h3 {
    margin-top: 50px;
    font-size: 24px
}

.pfp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.profile-header {
    display: flex;
}

.message-button {
    margin: 5px;
}



